{% extends "head_header_footer/head_header_footer_template.html.twig" %}

{% block main %}
    {% for msg in app.session.flashBag.get('success_update_session') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('delete_com') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success_new_com') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success_hide') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') or app.user.id == session.host.id %}
            <li ><a href="{{ path("update_session", {"id":session.id}) }}" >Mofifier les informations de la session</a></li>
            {% if session.status == 1%}
                <li ><a href="{{ path("hide_session", {"id":session.id}) }}" class = "text-danger">Supprimer le jeu</a></li>
            {% elseif session.status == 0 %}
                <li ><a href="{{ path("show_session", {"id":session.id}) }}" class = "text-danger">Rendre le jeu visible aux utilisateurs</a></li>
            {% endif %}
        {% endif %}
        {% if session.status == 1 %}
            <div class="container-fluid">
                <h3 class="ml-5 mb-2 gameShowTitle">{{ session.game.title }}</h3>
                <img src="{{ asset("assets/img/flagIcon.png") }}" alt="Icone de drapeau, catégorie du jeu" class="gameShowIcon ml-5">
                <span>Ville : {{ session.town.name }}</span>
                <img src="{{ asset("assets/img/timeIcon.png") }}" alt="Icone d'horloge, temps de jeu moyen" class="gameShowIcon">
                <span>Date et heure : {{ session.date |date("d/m/Y h:m") }}</span>
                <img src="{{ asset("assets/img/maxPlayersIcon.png") }}" alt="Icone d'horloge, temps de jeu moyen" class="gameShowIcon">
                <span>Nombre de joueurs : {{ session.maxplayer }}</span>
                <img src="{{ asset("assets/img/scoreIcon.png") }}" alt="Icone de note" class="gameShowIcon">
                <span>Hôte : {{ session.host.username }}</span>
                <div class="row d-flex justify-content-center mt-4">
                    <div class="col-7 ">
                        <div class="gameShowDescription">
                            <p>{{ session.description }}</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{ session.game.image }}" alt="Image du jeu de société" class="gameShowImage">
                    </div>
                </div>
            </div>
        {% elseif app.user %}
            {% if is_granted('ROLE_ADMIN') or app.user.id == session.host.id %}
                <div class="container-fluid">
                    <h3 class="ml-5 mb-2 gameShowTitle">{{ session.game.title }}</h3>
                    <img src="{{ asset("assets/img/flagIcon.png") }}" alt="Icone de drapeau, catégorie du jeu" class="gameShowIcon ml-5">
                    <span>Ville : {{ session.town.name }}</span>
                    <img src="{{ asset("assets/img/timeIcon.png") }}" alt="Icone d'horloge, temps de jeu moyen" class="gameShowIcon">
                    <span>Date et heure : {{ session.date |date("d/m/Y h:m") }}</span>
                    <img src="{{ asset("assets/img/maxPlayersIcon.png") }}" alt="Icone d'horloge, temps de jeu moyen" class="gameShowIcon">
                    <span>Nombre de joueurs : {{ session.maxplayer }}</span>
                    <img src="{{ asset("assets/img/scoreIcon.png") }}" alt="Icone de note" class="gameShowIcon">
                    <span>Hôte : {{ session.host.username }}</span>
                    <div class="row d-flex justify-content-center mt-4">
                        <div class="col-7 ">
                            <div class="gameShowDescription">
                                <p>{{ session.description }}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <img src="{{ session.game.image }}" alt="Image du jeu de société" class="gameShowImage">
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p>Cette session n'est pas visible par les utilisateurs, nos excuses</p>
        {% endif %}
        <br>
        <h3>Commentaires</h3>
        <br>
        {% for com in session.sessioncoms %}
            <div class="comShow border border-secondary rounded ml-3 mr-3 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center ml-2">
                        <img src="{{ asset("assets/uploads/"~com.user.profilepicture) }}" alt="Photo de profil de l'utilisateur" class="profilePictureShow">
                        <p class="ml-2">
                           De : {{ com.user.username }}
                        </p>
                    </div>
                    <p class = "mr-2">
                        {{ com.date|date('d-m-Y')  }}
                    </p>
                </div>
                <hr>
                <br>
                <p class="ml-2">
                    {{ com.content }}
                </p>
                {% if app.user == com.user %}
                    <a href="{{ path("delete_com", {"id":com.id, "sessionID":session.id}) }}" class="ml-2">Supprimer le commentaire</a>
                {% endif %}
            </div>
            <br>
        {% endfor %}
        <br>
        {{ form_start(form) }}
        <div class="gameShowDescription">
            {{ form_label(form.content, 'Ajoutez un commentaire') }}
            <br>
            {{ form_widget(form.content, { 'attr': {'class': 'form_style'} }) }}
            <br>
            <br>
            {{ form_widget(form.enregistrer, { 'attr': {'class': 'form_style'} }) }}
            <br>
            <br>
        </div>
        {{ form_end(form) }}
    {% else %}
        Vous devez être connecté pour accéder aux informations de la session
    {% endif %}
{% endblock %}